<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>CONcrescent - {{ title|e }}</title>
  <link rel="shortcut icon" href="{{ theme_file_url('favicon.ico', false)|e }}">
  <link rel="stylesheet" href="{{ resource_file_url('cm.css', false)|e }}">
  <link rel="stylesheet" href="{{ theme_file_url('theme.css', false)|e }}">
  <script type="text/javascript" src="{{ resource_file_url('jquery.js', false)|e }}"></script>
  <script type="text/javascript" src="{{ resource_file_url('cmui.js', false)|e }}"></script>
